body {
    background-color: #e0e0e8;
}

div .head {
	width: 50%;
	margin-left: 25%;
	padding: 0 0 0 0;
}

.editor {
	width: 50%;
	margin-left: 25%;
	margin-top: 2em;
	height: 20em;
	font-family: "Lucida Console", "Courier New", monospace;
	padding: 1em 1em 1em 1em;
	border: 1px solid black;
}

div .buttonbar {
	width: 50%;
	margin-left: 25%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 1em 1em 1em 1em;
}
.buttonbar button {
	background-color: blue;
	color: white;
	margin: 0 0 0 0;
	padding: 0.5em 1em 0.5em 1em;
	border: 0px;
	font-size: 14px;
}

div .result {
	background-color: white;
	width: 50%;
	margin-left: 25%;
	margin-top: 0;
	border: 1px solid black;
	padding: 1em 1em 1em 1em;
	font-size: 14px;
}

div .good {
	background: #afa;
}

div .bad {
	background: #faa;
}

.footer {
    background-color: grey;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid black;
}
.footer div {
    flex-grow: 4;
    text-align: center;
}

.footer div a {
    color: black;
    text-decoration: none;
}

.footer div a:visited {
}

.footer div a:hover {
    text-decoration: underline;
}

